.CAfullpage{
    height: 100vh;
    width: 100vw;
    background-color: #c9daf8ff;
}

.CAbox{

    height: 85%;
    width: 40%;
    /* background-color: #c9daf8ff; */
    background-color: white;
    border: 5px black;
    border-radius: 20px;
    border-style: solid;
    text-align: center;
    margin-left: 30%;
    margin-top: 3%;
}

.CAboxtext{
    height: 100%;
    width: 100%;
    margin-bottom: 1%;
    font-size: larger;
}

.CAinputs{
    width: 40%;
    padding: 1% 4%; 
}

.CAheader{

    text-decoration: underline;
}

.CAsubmitButton{
    text-decoration: bold;
    background-color:  #eb7222;
    font-size: 20px;
    padding: 1% 10%;
}

.CAApp_Name{
    height: 10%;
    width: 25%;
    display:flex;
    background-color: #6fa8dcff;
    border: 5px black;
    border-radius: 0px;
    border-style: solid;
    text-align: center;
    font-size: 17px;
    margin-right: 30%;
    margin-top: 0%;
}

.tracker-box{
    margin-left: 31%;
    width:37%;
    background-color: white;
    font-weight: bold;
    color: red;
    font-size: 14px;
}

.tracker-box div{
    margin: 5px 0;
}

.tracker-box .validated{
    color: #0f0;
}

.list-icon{
    margin-right: 8px;
}
.list-icon.green{
    color: #0f0;
}
.icon-span{
    cursor: pointer;
}
.homebar{
    margin-right: 10px;
    margin-left: 10px;
}